<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airline Reservations</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div id="bg-image" class="min-vh-100 position-left">
      <header class="bg-dark text-white p-3">
        <div
          class="container d-flex justify-content-between align-items-center"
        >
          <h1 class="m-0">Fly Away</h1>
          <div class="d-flex gap-4">
            <p id="user-name" class="text-white align-self-center m-0"></p>
            <button id="logout-btn" class="btn btn-primary">Login</button>
          </div>
        </div>
      </header>
      <section class="mx-auto py-5 my-5 text-center">
        <h2 class="fs-1 mb-4">Ready to book a flight?</h2>
        <a href="/signup" type="button" class="btn btn-info px-3 fs-3"
          >Let's Go!</a
        >
      </section>
    </div>
  </body>
</html>
