<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You!</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="bg-body-tertiary min-vh-100">
    <main class="container text-center mt-5">
      <div class="alert alert-success px-5 py-4 shadow" role="alert">
        <h1 class="display-4">Thank you!</h1>
        <p class="lead">
          Thank you for using our website to book your flight. We look forward
          to flying with you!
        </p>
        <a href="/" class="btn btn-primary btn-lg">Book another flight!</a>
      </div>
    </main>
  </body>
</html>
